.depoimentos {
    text-align: center;
    padding: 2em;
    background: var(--bg-depoimentos);
    margin: 2em;
}

.depoimentos__descricao {
    color: var(--vermelho);
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 1em;
}

.depoimentos__titulo {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 1.5em;
}

.depoimentos__autor{
    font-weight: 500;
    margin-top: 1em;
}

.depoimentos__atividade{
    color: var(--cinza-claro);
    font-size: 0.8em;
    margin-top: 0.5em;
}

@media screen and (min-width: 700px) {
    .depoimentos {
        margin: 4em;
    }
}